*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Montserrat", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width: 1285px;
    margin: 0 auto;
}

.container .navItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 85px 0px 27px 0px;
}

.container .navItems .navigation .wrapper {
	display: flex;
}

.container .navItems .navigation .wrapper .items {
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	font-weight: 600;
	margin-right: 62px;
	font-size: 12px;
}

.background {
	padding: 40px 0px;
	background-image: url("img/BlackLivesMatter.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.background .container .photo {
	width: 400px;
	height: 517px;
	margin-bottom: 20px;
}

.background .container .wrapper {
	display: flex;
}

.background .container .wrapper .join {
	display: block;
	color: #fff;
	text-transform: uppercase;
	background-color: #000;
	cursor: pointer;
	padding: 23px 41px;
	border: none;
	font-size: 35px;
	font-weight: 600;
} 

.background .container .wrapper .donate {
	display: block;
	color: #fff;
	text-transform: uppercase;
	background-color: #d10f0f;
	cursor: pointer;
	padding: 23px 41px;
	border: none;
	font-size: 35px;
	margin-left: 12px;
	font-weight: 600;
}


.container .solution {
	padding: 73px 0px 66px 0px;
}

.container .solution .title {
	color: #000;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 42px;
}
.container .solution .text {
	font-size: 27px;
	text-align: center;
	font-weight: 600;
	color: #e2202d;
	margin-bottom: 38px;
}

.container .solution .text1{
	color: #000;
	text-align: center;
	font-size: 22px;
	margin-bottom: 27px;
}

.container .solution .text2{
	text-align: center;
	font-weight: 600;
	margin-bottom: 51px;
	font-size: 24px;
}

.container .solution .download {
	display: block;
	margin: 0 auto;
	color: #fff;
	padding: 10px 8px 10px 10px;
	text-transform: uppercase;
	border: none;
	background-color: #128840;
	cursor: pointer;
	font-size: 28px;
} 