*{
	box-sizing: border-box;
	
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Montserrat", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width: 1285px;
    margin: 0 auto;
}

.container .navItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 85px 0px 27px 0px;
}

.container .navItems .title {
	color: #000;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 3px;
}

.container .navItems .title .red{
	position: relative;
	left: 5px;
	display: inline-block;
	background-color: #e2202d;
	width: 7px;
	height: 29px;
}

.container .navItems .green{
	color: #128840;
}

.container .navItems .navigation .wrapper {
	display: flex;
}

.container .navItems .navigation .wrapper .items {
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	font-weight: 600;
	margin-right: 62px;
	font-size: 12px;
}
.container .navItems .navigation .wrapper .items:hover {
	color: #e74650;
}

.container .navItems .image{
	margin-right: 1px;
}

.background {
	padding: 40px 0px;
	background-image: url("img/blacklives.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.background .container .photo {
	width: 400px;
	height: 517px;
	margin-bottom: 20px;
}

.background .container .wrapper {
	display: flex;
}

.background .container .wrapper .join {
	display: block;
	color: #fff;
	text-transform: uppercase;
	background-color: #000;
	cursor: pointer;
	padding: 23px 41px;
	border: none;
	font-size: 35px;
	font-weight: 600;
} 

.background .container .wrapper .join:hover {
	background-color: #2b689c;
	transition: 0.5s;
}

.background .container .wrapper .donate {
	display: block;
	color: #fff;
	text-transform: uppercase;
	background-color: #d10f0f;
	cursor: pointer;
	padding: 23px 41px;
	border: none;
	font-size: 35px;
	margin-left: 12px;
	font-weight: 600;
	width: 17.4%;
}

.background .container .wrapper .donate:hover {
	background-color: #2b689c;
	transition: 0.5s;
}

.latest{
	background-color: #f0f0f0;
	padding-bottom: 70px;
}

.latest .container .title {
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	font-size: 60px;
	margin-bottom: 47px;
}

.latest .container .line {
	display: block;
	background-color: #e2202d;
	width: 80px;
	height: 3px;
	margin-bottom: 59px;
}

.latest .container .text {
	text-transform: uppercase;
	color: #000;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 45px;
}

.latest .container .image{
	margin-right: 30px;
}

.event{
	margin-top: 18px;
	background-color: #000;
	padding: 105px 0px 115px 0px;
}

.event .container .wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

.event .container .title {
	color: #e2202d;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
}


.event .container .subtitle{
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
}

.event .container .text{
	color: #108234;
	font-size: 22px;
	margin-top: 23px;
}

.event .container .calendar{
	background-color: #e2202d;
	color: #fff;
	font-size: 18px;
	padding: 16px 31px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
.event .container .calendar:hover{
	color: #605e5e;
	background-color: #cccccc;
	transition: 0.5s;
}

.container .solution {
	padding: 73px 0px 66px 0px;
}

.container .solution .title {
	color: #000;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 42px;
}
.container .solution .text {
	font-size: 27px;
	text-align: center;
	font-weight: 600;
	color: #e2202d;
	margin-bottom: 38px;
}

.container .solution .text1{
	color: #000;
	text-align: center;
	font-size: 22px;
	margin-bottom: 27px;
}

.container .solution .text2{
	text-align: center;
	font-weight: 600;
	margin-bottom: 51px;
	font-size: 24px;
}

.container .solution .download {
	display: block;
	margin: 0 auto;
	color: #fff;
	padding: 10px 8px 10px 10px;
	text-transform: uppercase;
	border: none;
	background-color: #128840;
	cursor: pointer;
	font-size: 28px;
} 

.container .solution .download:hover {
	color: #605e5e;
	background-color: #ccc;
	transition: 0.5s;
}

 .about {
	background-color: #128840;
	padding-bottom: 66px;
}

.about .container .title {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 66px;
}

.about .container .text {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

.about .container .text1 {
	font-size: 20px;
	color: #000;
	font-weight: 600;
	line-height: 27px;
} 

.involve{
	background-color: #e2202d;
	padding-bottom: 108px;
}

.involve .container .title{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 60px;
	margin-bottom: 64px;
}

.involve .container .wrapper{
	display: flex;
	justify-content: space-around;
}

.involve .container .wrapper .number{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 80px;
	font-weight: 600;
	margin-bottom: 20px;
}

.involve .container .wrapper .text{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	line-height: 20px;
}

.involve .container .wrapper .margin{
	margin-bottom: 40px;
}

.involve .container .wrapper .contact{
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	background-color: #000;
	cursor: pointer;
	border: none;
	padding: 15px;
	font-size: 24px;
}

.involve .container .wrapper-box{
	display: flex;
	justify-content: space-around;
}

.involve .container .wrapper-box .image{
	margin-top: 13px;
}

.involve .container .wrapper .contact:hover{
	background-color: #2b689c;
	transition: 0.5s;
}

.help{
	display: flex;
}

.background-image{
	background-image: url("img/help.png");
	width: 50%;
	height: 755px;
	background-repeat: no-repeat;
	background-size: cover;
}
.help .people {
	padding: 85px 0px 70px 0px;
	width: 50%;
}
.help .people .title{
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 74px;
	font-size: 22px;
	text-align: center;
}

.help .people .food{
	color: #128840;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}

.help .people .bronx{
	text-align: center;
	font-weight: 600;
	color: #e2202d;
	font-size: 27px;
	margin-bottom: 50px;
}

.help .people .text{
	margin-bottom: 47px;
	font-size: 22px;
	text-align: center;
}

.help .people .support{
	display: block;
	margin: 0 auto;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	background-color: #e2202d;
	border: none;
	font-size: 18px;
	padding: 16px 20px;
}

.help .people .support:hover{
	color: #605e5e;
	transition: 0.5s;
	background-color: #cccccc;
}

.demands{
	background-color: #000;
	padding-bottom: 85px;
}

.demands .container .title{
	text-transform: uppercase;
	color: #fff;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 70px;
}

.demands .container .wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.demands .container .wrapper .box{
	background-color: #2f2e2e;
	width: 32%;
	padding: 48px 51px 48px 58px;
	height: 350px;
}

.demands .container .wrapper .box .title{
	font-size: 24px;
	text-align: center;
	margin-bottom: 24px;
}

.demands .container .wrapper .box .line{
	background-color: #128840;
	display: block;
	height: 3px;
	width: 80px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.demands .container .wrapper .box .text{
	font-size: 30px;
	text-align: center;
	color: #fff;
	font-weight: 600;
}

.demands .container .wrapper .box .red{
	color: #e2202d;
}

.demands .container .wrapper .bigger{
	height: 406px;
}

.demands .container .wrapper .fourfive{
	position: relative;
	bottom: 55px;
}

.demands .container .wrapper .small{
	height: 300px;
}
.demands .container .wrapper .seven{
	position: relative;
	bottom: 100px;
}
.demands .container .wrapper .nine{
	position: relative;
	bottom: 55px;
}

.back{
	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 755px;
}

.bgc {
	background-color: #f0f0f0;
	padding-bottom: 70px;
}

.bgc .container .title {
	color: #cccccc;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 78px;
}
.bgc .container .wrapper {
	display: flex;
	justify-content: center;
}

.bgc .container .wrapper .box .image{
	height: 134px;
	width: 134px;
}

.bgc .container .wrapper .box .text {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 44px;
}

.bgc .container .wrapper .box{
	text-align: center;
	width: 33.33%;
}

.form{
	display: flex;

}

.form .contact{
	width: 50%;
	background-color: #e2202d;
	padding: 148px 0px 158px 0px;
}

.form .contact .title{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 60px;
	text-align: center;
	margin-bottom: 54px;
}

.form .contact .line{
	display: block;
	width: 80px;
	height: 3px;
	background-color: #fff;
	margin: 0 auto;
}

.form .contact .subtitle{
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 17px;
	text-align: center;
	margin: 57px 0px 15px 0px;
}

.form .contact .text{
	text-align: center;
	color: #fff;
	font-size: 22px;
}

.form .tell{
	width: 50%;
	background-color: #128840;
	padding: 148px 0px 127px 0px;
}

.form .tell .title{
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	font-size: 60px;
	margin-bottom: 54px;
}

.form .tell .line{
	display: block;
	width: 80px;
	height: 3px;
	margin: 0 auto;
	margin-bottom: 60px;
	background-color: #fff;
}

.form .tell .wrapper{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.form .tell .wrapper .box{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 6px;
}

.form .tell .wrapper .box .write{
	height: 50%;
	width: 265px;
}

.form .tell .wrapper .box .write::placeholder{
	color:#c2a9ab;;
}

.form .tell .wrapper .area::placeholder{
	color: #c2a9ab;
}

.form .tell .submit{
	display: block;
	color: #fff;
	margin: 0 auto;
	background-color: #000;
	cursor: pointer;
	border: none;
	font-size: 14px;
	padding: 11px 15px 13px 16px;
}

.form .tell .wrapper .box .write:hover{
	background-color: #128840;
	color: #b5a09f;
	border: 1px solid #000;
}

.form .tell .wrapper .area:hover{
	background-color: #128840;
	color: #b5a09f;
	border: 1px solid #000;
}

.copyright{
	background-color: #000;
	padding: 72px 0px;
}

.copyright .container .title{
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.copyright .container .wrapper{
	display: flex;
	justify-content: center;
}

.copyright .container .wrapper .items{
	margin: 22px 16px 0px 0px;
}